.navbar {
    font-family: "Open Sans";
    overflow: hidden;
}
.navbar a {
    color: #3c4043;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
}

.header {
    color: white;
    font-size: 45px;
    font-family: "Open Sans";
    text-align: center;
}

.colorG {
    color: #4285F4;
}

.coloro1, .colore {
    color: #EA4335;
}

.coloro2 {
    color: #FBBC05;
}

.colorl {
    color: #34A853;
}

.search form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input {
    font-family: "Open Sans", arial, sans-serif;
}

.search-bar {
    height: 35px;
    width: 35%;
    border-radius: 30px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    padding-left: 25px;
    transition: box-shadow 0.2s ease;
}

.search-bar:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.search-button {
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    color: #3c4043;
    margin-top: 10px;
    height: 35px;
    width: 125px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.search-button:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

/*
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
*/