body {
    background-color: #202124;
}

.navbar {
    font-family: "Open Sans";
    overflow: hidden;
}
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
}

.header {
    color: white;
    font-size: 45px;
    font-family: "Open Sans";
    text-align: center;
}


.search form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input {
    font-family: "Open Sans";
}


/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}